.container {
  text-align: center;
  margin: 20px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 150px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  border: 1px solid #ddd;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  cursor: pointer;
}
